*{
        		margin: 0;
        		padding: 0;
        		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        		-webkit-box-sizing: border-box;
        		-moz-box-sizing: border-box;
        		box-sizing: border-box;
        	}
        	body{
        		background-repeat: no-repeat;
        		-webkit-background-size: cover;
        		background-size: cover;
        		/*background-image: url('../../resources/images/dlsu.png');*/
        		background-color: #729f51;
        	}
        	.apo-functionalities-div{
        		margin-top: 30px;
        		clear:both;
        	}
        	.view-offerings-add-course-div, .room-assignment-publish-div,{
        		clear: both;
        	}
        	.view-offerings-add-course-div{
        		float: left;
        		display: inline-block;
        		width: 50%;
        		background-color: #f5f9f2;
        		padding-left:20px;
        		padding-right:100px;
        		padding-top:400px;
        		padding-bottom:30px;
        	}
        	.room-assignment-publish-div{
        		float: right;
        		display: inline-block;
        		width: 50%;
        		background-color: #f5f9f2;
        		padding-right:20px;
        		padding-left:100px;
        		padding-top:400px;
        		padding-bottom:30px;
        	}
        	.view-offerings-div, .room-assignment-div{
        		display: inline-block;
        		width: 19%;
        	}
        	.add-course-div, .publish-div{
        		display: inline-block;
        		float: right;
        		width: 19%;
        	}
        