<html lang = "en" ng-app = "myLanguageApp">
<head>
	<meta charset="UTF-8">
	<title>MVC</title>
	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>

	<div ng-controller="languages">
	Select Your favourite language: 
	<button ng-click="langClick('PHP')">PHP</button> 
	<button ng-click="langClick('Javascript')">Javascript</button> 
	<button ng-click="langClick('C++')">C++</button> 
	<button ng-click="langClick('Ruby')">Ruby</button>

	<p>You have selected: {{myFavLanguage}}</p>
	</div>

<script>
	var application = angular.module('myLanguageApp', []);
	application.controller('languages',function($scope){
		$scope.myFavLanguage = 'None';

		$scope.langClick = function(languageName){
			$scope.myFavLanguage = languageName;
		}
	});
</script>

</body>
</html>